APP_NAME=GoTalk
APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000
FRONTEND_URL=http://localhost:8081
APP_PORT=3001
APP_SECRET="secret key"

DB_CONNECTION=postgres
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=
DB_USERNAME=
DB_PASSWORD=

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_HOST=smtp.googlemail.com
MAIL_PORT=465
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_FROM_ADDRESS=

STRIPE_PK = pk_live_51KLtQ0BhCfRY0KKwzs0kWeQDi5PFAzMKtV0mWag18aZE5pCabEm4Wr3Ka4UuXsAe3kwnv0Ytpe55n2HP401OsAAi00zYzS2S0g
STRIPE_SK = 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
