.text-expand-users {
  display: flex;
}
.expand-users {
  width: 50%;
}

.edit-text{
  color: rgba(4, 4, 194, 0.925);
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  font-size:14px;
  font-weight: 500;
}