files:
  /home/ec2-user/.ssh/authorized_keys:
    mode: "000400"
    owner: ec2-user
    group: ec2-user
    content: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDW+VzlTeIqk3cwzQuxojKqZ4kWHOGFcHHb7ZTODiyTlyNObUMiDLqEXyRbjxd/2VtD5YnDkSWftKsSF2cNXi1DU3RAj9aOvaDYy3WH57owem0TqND/x897NgnX687MNR6NU3XrdwmBb6X1RC05ma7eQexJgY7gT3mdsw5bKsEs5vWeEuLylFUFtGMy+sdc9B50hqoU6Ql6Ir5eXNPmsuKMgYLJfJ8udsiU+okrLsy54olMFcBeDN9+X2JzsFT6yIB5UGupkLQjew8SE2BWweyvtcDPLimCjWfykItNt0va/V10Uz8heytr3e5+MWoveYZsyl5CbdEv9na3vaAG1PaAACd1YPIVyxbbcaYDxJGFf4g2tgiIEquvrhadWLBWdOyyZ8vGPDp4966bpXnW4TWbmV7xdzYLCLRwvb3HfJcYiM9tbK1oQ0pgA8CghcFkNia6xBRZz5uQB3dXF/u/Gq6VsIfrvJ42GTAS+X2IVUQ5dxHVu/992veI9WYqJ5sycI8= GoTalk-Dev-Yunus