option_settings:
  - option_name: NODE_ENV
    value: production
  - option_name: APP_PORT
    value: 3000
  - option_name: DB_DATABASE
    value: ebdb
  - option_name: DB_HOST
    value: aa17xcpd56zub0n.cgqece4lfdw9.us-west-2.rds.amazonaws.com
  - option_name: DB_PASSWORD
    value: ZB.v)QtT!DYt)3:*
  - option_name: DB_PORT
    value: 5432
  - option_name: DB_USERNAME
    value: gotalk
  - option_name: EMAIL
    value: dev@gotalkwireless.com
  - option_name: EMAIL_DEBUG
    value: false
  - option_name: FRONTEND_APP_URL
    value: https://gotalkwireless.com
  - option_name: FRONTEND_PORT
    value: 8080
  - option_name: MAIL_FROM_ADDRESS
    value: noreply@gotalkwireless.com
  - option_name: PLINTRON_QR_ACCESS_KEY
    value: e4053d49-4b8e-498c-a502-86829845e793
  - option_name: PLINTRON_QR_URL
    value: https://esims.stratabites.com/
  - option_name: PLINTRON_URL
    value: https://itg.plintron.com/
  - option_name: STRIPE_PK
    value: pk_live_51KLtQ0BhCfRY0KKwzs0kWeQDi5PFAzMKtV0mWag18aZE5pCabEm4Wr3Ka4UuXsAe3kwnv0Ytpe55n2HP401OsAAi00zYzS2S0g
  - option_name: STRIPE_SK
    value: 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
  - option_name: PLINTRON_STATISTIC_HOST
    value: 3.234.248.104
  - option_name: PLINTRON_STATISTIC_USERNAME
    value: pa_gotalk
  - option_name: PLINTRON_STATISTIC_PASSWORD
    value: Welcome@123
  - option_name: PLINTRON_STATISTIC_MIN_PATH
    value: /VOICE/
  - option_name: PLINTRON_STATISTIC_SMS_PATH
    value: /SMS/
  - option_name: PLINTRON_STATISTIC_INTERNET_PATH
    value: /DATA/
  - option_name: S3_BUCKET
    value: gotalk-logs
  - option_name: S3_ACCESS_KEY_ID
    value: AKIA6I7DP4MLXULWGJG6
  - option_name: S3_SECRET_ACCESS_KEY
    value: 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
