@import '../../../assets/styles/index.scss';

.modal-header {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 5;
  transition: transform 0.5s;
  transform: translateX(-100%);
}

.open {
  transform: translateX(0%);
  z-index: 3;
}

.modal-header-content {
  position: absolute;
  z-index: 5;
  left: 0;
  width: 80%;
  background-color: $label;
  height: 100vh;
}

.background-modal {
  position: fixed;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  bottom: 0;
  z-index: 5;
  right: 0;
  background-color: rgba(0, 0, 0, 0.35);
  opacity: 0;
  transition: opacity 0.2s;
}
.view {
  opacity: 1;
  pointer-events: painted;
  z-index: 3;
}

.modal-header-nav {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 20px 24px;
  height: 180px;
  width: 100%;
  border-top: 2px solid $grey-line;
}

.modal-header-up {
  display: flex;
  align-items: center;
  width: fit-content;
  justify-content: space-between;
  background-color: $label;
  color: $label-reverse;
  padding: 0 12px;
  height: auto;

  .up-header_item {
    color: $label-reverse;
  }
}

.modal-user-link {
  margin: 28px auto;
  display: flex;
  align-items: center;
  padding: 0 24px;
}

.login-link__image-item_mobile-modal {
  width: 18px;
  height: 19px;
  margin-right: 10px;
}

.login-link__image-item_mobile-modal__door {
  width: 20px;
  height: 19px;
  margin-left: 10px;
}

.placeholder-menu-mobile {
  display: none;
  @media (max-width: 1200px) {
    display: block;
    overflow: visible;
    margin-left: 7px;
  }
}

.header-link{
  color: $primary-dark-blue;
}