@import 'src/assets/styles/index.scss';
@import 'src/assets/styles/mixins/text';
@import 'src/assets/styles/mixins/heading';
@import 'src/assets/styles/mixins/button.scss';
@import 'src/assets/styles/mixins/container.scss';

.card {
  display: flex;
  flex-direction: column;
  @include content-container-shadow();
  background-color: $label;
  transition: all 0.5s linear;
  width: calc(320px + (362 - 320) * ((100vw - 375px) / (1920 - 375)));
  margin: 12px 12px 40px 12px;
  color: $primary-dark-blue;

  &__content {
    text-align: center;
    margin-bottom: 24px;
  }

  &__title {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: calc(28px + (24 - 24) * ((100vw - 375px) / (1920 - 375)));
    line-height: calc(24px + (32 - 24) * ((100vw - 375px) / (1920 - 375)));
    margin-bottom: 24px;
  }

  &__total-price {
    font-family: 'Raleway-Bold', sans-serif;
    font-size: calc(32px + (56 - 32) * ((100vw - 375px) / (1920 - 375)));
    line-height: calc(40px + (64 - 40) * ((100vw - 375px) / (1920 - 375)));
    letter-spacing: 1px;
    margin-bottom: 8px;
  }

  &__split-price {
    @include text-card();
    margin-bottom: 24px;
  }

  &__description {
    @include text-card();
    margin-bottom: 24px;
    word-wrap: break-word;
  }

  &__characteristics {
    @include text-card();
    width: fit-content;
    text-align: left;
    margin: 0 auto;
  }

  &__characteristics-item {
    margin-bottom: 12px;

    &:before {
      content: '';
      display: inline-block;
      width: 6px;
      height: 6px;
      background: $primary-red;
      border-radius: 50%;
      margin-right: 8px;
      vertical-align: middle;
    }

    span {
      color: #d75f5c;
    }
  }

  &__button {
    @include button-red($padding: 18px 48px);
    width: fit-content;
    text-align: center;
    margin: auto auto 0 auto;
    @media (max-width: 650px) {
      width: 100%;
    }
  }
  &:hover {
    background-color: $primary-dark-blue;
    color: $label;
  }
  @media (max-width: 700px) {
    margin: 12px auto;
  }

  &__link {
    margin: auto auto 0 auto;
  }
}
.card__conditions {
  font-family: 'Roboto-Regular';
  font-size: 18px;
  line-height: 26px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 24px auto;

  p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.card__conditions_item__value {
  font-family: 'Roboto-Medium';
  color: #d75f5c;
}

.card__conditions_item__sub {
  font-size: 16px;
}
