<p>Dear Customer

   To ensure your account's security, we need to verify your identity. Enter the following code where prompted by Go Talk.<br>

   Your verification code is: <%= data %><br>

   If you didn't ask for this code, please contact us (link contact page).<br>

   Yours sincerely<br>

   Go Talk </p>