<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Go-Talk</title>
    <style type="text/css">
        .msg_container {
            padding: 10px;
        }

        .msg_container .image_container {
            width: 100%;
            text-align: center;
        }

        .msg_container .text_container {
            padding-top: 30px;
        }

        .msg_container .social_container {
            width: 100%;
            text-align: center;
        }

        .msg_container .social_container img {
            width: 100%;
        }

        .social {
            display: inline-block;
        }

        .social a {
            display: block;
            width: 40px;
            height: 40px;
            margin: 0 5px 5px 0;
            text-align: center;
            color: #fff;
            border-radius: 24px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
        }

        .social a:hover {
            border-color: #888;
            opacity: .8;
        }

        .social svg {
            margin-top: 6px;
            width: 25px;
            height: 25px;
        }
    </style>
</head>
<body>
<div class="msg_container">

    <div class="image_container">
        <a href="https://gotalkwireless.com" style="text-decoration: none;" target="_blank">
            <img align="center" alt="logo" src="https://gotalkwireless.com/static/media/mail-logo.png"/>
        </a>
    </div>

    <div class="text_container">
        <p>Dear Customer</p>
        <p>Thank you for choosing Go Talk.</p>
        <p>
            If you have any questions or require customer support, please reach out via live chat or email
            <a href="mailto:support@gotalkwireless.com">support@gotalkwireless.com</a>
        </p>
        <br>
        <p>Yours sincerely</p>
        <p>Go Talk</p>
    </div>

    <div class="social_container">
        <div class="social facebook">
            <a href="https://www.facebook.com/gotalkwireless" style="text-decoration: none;" target="_blank">
                <img align="center" alt="facebook" src="https://gotalkwireless.com/static/media/mail-facebook.png"/>
            </a>
        </div>
        <div class="social instagram">
            <a href="https://www.instagram.com/gotalkwireless/" style="text-decoration: none;" target="_blank">
                <img align="center" alt="instagram" src="https://gotalkwireless.com/static/media/mail-instagram.png"/>
            </a>
        </div>
        <div class="social twitter">
            <a href="https://twitter.com/gotalkwireless" style="text-decoration: none;" target="_blank">
                <img align="center" alt="twitter" src="https://gotalkwireless.com/static/media/mail-twitter.png"/>
            </a>
        </div>
    </div>
</div>
</body>
</html>