@import 'src/assets/styles/index';
@import 'src/assets/styles/mixins/media';

.how-it-works {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto 125px auto;
  font-family: "Roboto-Regular", sans-serif;
  font-size: 1.125rem;
  line-height: 2rem;
}

.how-it-works__article {
  margin-bottom: 80px;

  @include below-breakpoint(xs) {
    margin-bottom: 48px;
  }
}

.how-it-works__title {
  font-family: "Raleway-Bold", sans-serif;
  font-size: 2.25rem;
  margin-bottom: 48px;

  @include below-breakpoint(xs) {
    margin-bottom: 24px;
    font-size: 1.5rem;
  }
}

.how-it-works__subtitle {}

.how-it-works__instructions {
  display: flex;
  margin: 15px 0;

  @include below-breakpoint(sm) {
    flex-direction: column;
  }
}

.how-it-works__instruction {
  background-color: #041631;
  border-radius: 12px;
  margin: 0 10px;
  padding: 15px 30px;
  color: #fff;
  display: flex;
  align-items: center;

  &:first-child {
    margin-left: 0;
  }
  &:last-child {
    margin-right: 0;
  }

  @include below-breakpoint(sm) {
    padding-top: 30px;
    padding-bottom: 30px;
    margin: 0;
    &:not(:last-child) {
      margin-bottom: 12px;
    }
  }
}

.how-it-works__instruction__number {
  font-size: 70px;
  margin-right: 10px;
}
